// Navigation code here

.nav-section {
    max-width: 900px;
    margin: 0 auto;
    background-color: @nav-bg;
    h2 {
        text-align: center;
        padding: 20px 0;
    }
}

.nav-links {
    .center();
    justify-content: space-around;
    width: 40%;
    margin: 0 auto;
    font-style: @nav-font;
    @media @phone {
        width: 100%;
    }
    a { 
    text-decoration: none;
    color: black;
    }
}